<h3>
	<a href="#">
	  Node Manager IP: <%= node_manager.uri %>
      <% if node_manager.ignore %>
        - this manager will be ignored when scaling
      <% else %>
        - this manager will be used when scaling
      <% end %>
	</a>
</h3>

<div style="min-height: 200px;" id="manager_<%= node_manager.uri_to_request %>">

  <article>
    <%= content_tag :h3, "Information" %>

    <%= content_tag :p, "Experiment Manager: #{@status_information[node_manager.uri]}" %>

    <p>
      Storage Manager:
      <% if @status_information["storage_db_config_services"].include? node_manager.uri.split(":").first %>
        Config service is running
      <% elsif @status_information["storage_db_instances"].include? node_manager.uri.split(":").first %>
        DB instance is running
      <% else %>
        not running
      <% end %>
    </p>
  </article>

  <article>
    <%= content_tag :h3, "Actions" %>

    <div class="buttons">
      <div>
        <%= select_tag "install_local_manager_type", options_for_select(manager_installation_options) %>
        <%= link_to_function "Install", "window.executeLocalInstallation('#{platform_install_manager_path}', '#{node_manager.uri_to_request}');" %>
      </div>

      <div>
        <span>Execute</span>
        <%= select_tag "local_action", options_for_select(global_action_options) %>
        <span>of</span>
        <%= select_tag "local_manager_type", options_for_select(local_manager_type_options) %>
        <%= link_to_function "Execute", "window.executeLocal('#{platform_start_manager_path}', '#{platform_stop_manager_path}', '#{node_manager.uri_to_request}');" %>
      </div>

      <%= link_to "Delete node manager from the view", "/platform/delete_manager/#{node_manager.uri_to_request}" %>

      <% if node_manager.ignore %>
        <%= link_to "Include when scaling", ignore_manager_when_scale_path(:node_manager_id => node_manager.id, :ignore => false), :method => :post %>
      <% else %>
        <%= link_to "Exclude when scaling", ignore_manager_when_scale_path(:node_manager_id => node_manager.id, :ignore => true), :method => :post %>
      <% end %>

      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>
  </article>

</div>
