<h3>
	<a href="#">
	  Node Manager IP: <%= node_manager.uri %>
      <% if node_manager.ignore %>
        - this manager will be ignored when scaling
      <% else %>
        - this manager will be used when scaling
      <% end %>
	</a>
</h3>
<div style="min-height: 200px;">

  <article>
    <h3>Experiment managers: <%= @status_information[node_manager.uri] %></h3>
    <div class="buttons" style="display: inline;">
      <%= link_to "Install experiment manager", "/platform/install_manager/#{node_manager.uri_to_request}/experiment" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>
    <br/>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start 1 experiment managers", "/platform/start_manager/#{node_manager.uri_to_request}/experiment/1" %>
      <%= link_to "Stop 1 experiment managers", "/platform/stop_manager/#{node_manager.uri_to_request}/experiment/1" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start 8 experiment managers", "/platform/start_manager/#{node_manager.uri_to_request}/experiment/8" %>
      <%= link_to "Stop 8 experiment managers", "/platform/stop_manager/#{node_manager.uri_to_request}/experiment/8" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>
  </article>

  <article>
    <h3>Storage manager:
      <% if @status_information["storage_db_config_services"].include? node_manager.uri.split(":").first %>
        Config service is running
      <% end %>
      <% if @status_information["storage_db_instances"].include? node_manager.uri.split(":").first %>
        DB instance is running
      <% end %>
    </h3>

    <div class="buttons" style="display: inline;">
      <%= link_to "Install storage manager", "/platform/install_manager/#{node_manager.uri_to_request}/storage" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start storage manager", "/platform/start_manager/#{node_manager.uri_to_request}/storage/1" %>
      <%= link_to "Stop storage manager", "/platform/stop_manager/#{node_manager.uri_to_request}/storage/1" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start db config service", "/platform/start_manager/#{node_manager.uri_to_request}/storage_db_config/1" %>
      <%= link_to "Stop db config service", "/platform/stop_manager/#{node_manager.uri_to_request}/storage_db_config/1" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start db instance", "/platform/start_manager/#{node_manager.uri_to_request}/storage_db_instance/1" %>
      <%= link_to "Stop db instance", "/platform/stop_manager/#{node_manager.uri_to_request}/storage_db_instance/1" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>

    <div class="buttonset" style="display: inline;">
      <%= link_to "Start db router", "/platform/start_manager/#{node_manager.uri_to_request}/storage_db_router/1" %>
      <%= link_to "Stop db router", "/platform/stop_manager/#{node_manager.uri_to_request}/storage_db_router/1" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>
  </article>

  <article>
    <h3>Other actions</h3>
    <div class="buttons">
      <%= link_to "Delete node manager from the view", "/platform/delete_manager/#{node_manager.uri_to_request}" %>

      <% if node_manager.ignore %>
        <%= link_to "Include when scaling", ignore_manager_when_scale_path(:node_manager_id => node_manager.id, :ignore => false), :method => :post %>
      <% else %>
        <%= link_to "Exclude when scaling", ignore_manager_when_scale_path(:node_manager_id => node_manager.id, :ignore => true), :method => :post %>
      <% end %>

      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
    </div>
  </article>

</div>
