<section id="main">

  <%= render :partial => "platform_information" %>

  <article>
    <h3>Global actions</h3>

    <div class="buttons">
      <%= link_to "Synchronize with the Information Service", platform_synchronize_with_information_service_path %>
      <%= link_to "Monitoring panel", "/monitoring" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
      <br/>

      <div>
        Install on all nodes
        <%= select_tag "install_manager_type", options_for_select(manager_installation_options) %>
        <%= link_to_function "Install", "window.executeInstallation('#{platform_global_install_manager_path}');" %>
      </div>

      <div>
        <span>Execute</span>
        <%= select_tag "global_action", options_for_select(global_action_options) %>
        <span>of</span>
        <%= select_tag "manager_type", options_for_select(manager_type_options) %>
        <span>on all nodes</span>
        <%= link_to_function "Execute", "window.execute('#{platform_global_start_manager_path}', '#{platform_global_stop_manager_path}');" %>
      </div>

      <div class="buttonset">
      	<%= form_tag(platform_custom_start_managers_path) do -%>
      		Number of Experiment Managers to start:
      		<%= text_field_tag "experiment_managers_count" %><br/>
      		Number of Storage Managers to start:
      		<%= text_field_tag "storage_managers_count" %><br/>
      		<%= submit_tag "Start" %>
      	<% end %>
      </div>
    </div>

  </article>

  <article>
    <h3>Registered Node Managers</h3>
    <div id="node_managers_accordion">
      <%= render :partial => "node_manager", :collection => @node_managers %>
    </div>

    <%= javascript_tag "$(document).ready(function() { $( '#node_managers_accordion' ).accordion({ autoHeight: false, collapsible: true }); })" %>
  </article>
</section>

<%= javascript_tag "$(document).ready(function() { $('.buttons a').button(); $( '.buttonset' ).buttonset();
                    $('.buttons a, .buttonset a').click(function() { $(this).next('.spinner').show() })})" %>
