<section id="main">
  <article>
    <h3>Platform Information</h3>
    <p>
      Currently you have <%= @status_information["node_managers_size"] %> Node Managers registered.
    </p>

    <p>
      <%= @status_information["experiment_managers_installations"] %> of them are running
      <%= @status_information["experiment_managers_instances"] %> instances of Scalarm Experiment Manager.
    </p>

    <p>
      <%= @status_information["storage_managers_installations"] %> of them are running Scalarm Storage Managers. <br/>
    </p>
  </article>
  <article>
    <h3>Global actions</h3>

    <div class="buttons">
      <%= link_to "Synchronize with the Information Service", platform_synchronize_with_information_service_path %>
      <%= link_to "Monitoring panel", "/monitoring" %>
      <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
      <br/>

      <%= link_to "Install experiment manager on all node managers", "/platform/global_install_manager/experiment" %>
      <div class="buttonset">
        <%= link_to "Start experiment manager on all node managers", "/platform/global_start_manager/experiment/8" %>
        <%= link_to "Stop experiment manager on all node managers", "/platform/global_stop_manager/experiment/8" %>
        <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
      </div>
      <br/>

      <%= link_to "Install storage manager on all node managers", "/platform/global_install_manager/storage" %>
      <div class="buttonset">
        <%= link_to "Start storage manager on all node managers", "/platform/global_start_manager/storage/1" %>
        <%= link_to "Stop storage manager on all node managers", "/platform/global_stop_manager/storage/1" %>
        <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
      </div>
      <br/>
      
      <%= link_to "Install simulation managers on all nodes", "/platform/global_install_manager/simulation" %>
      <div class="buttonset">
        <%= link_to "Start simulation managers on all nodes", "/platform/global_start_manager/simulation/1" %>
        <%= link_to "Stop simulation managers on all nodes", "/platform/global_stop_manager/simulation/1" %>
        <%= image_tag "spinner.gif", :class => "spinner", :style => "display: none;" %>
      </div>
      <br/>
      
      <div class="buttonset">
      	<%= form_tag(platform_custom_start_managers_path) do -%>
      		Number of Experiment Managers to start:
      		<%= text_field_tag "experiment_managers_count" %><br/>
      		Number of Storage Managers to start:
      		<%= text_field_tag "storage_managers_count" %><br/>
      		<%= submit_tag "Start" %>
      	<% end -%>
      </div>
    </div>

  </article>

  <article>
    <h3>Registered Node Managers</h3>
    <div id="node_managers_accordion">
      <%= render :partial => "node_manager", :collection => @node_managers %>
    </div>

    <%= javascript_tag "$(document).ready(function() { $( '#node_managers_accordion' ).accordion({ autoHeight: false }); })" %>
  </article>
</section>

<%= javascript_tag "$(document).ready(function() { $('.buttons a').button(); $( '.buttonset' ).buttonset();
                    $('.buttons a, .buttonset a').click(function() { $(this).next('.spinner').show() })})" %>
