<!DOCTYPE html>
<html>
<head>
  <title>ScalarmPlatformManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "styles"%>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

    <header>
      <h1 id="site_title"><a href="#">Scalarm Platform Manager</a></h1>

      <a href="http://www.cyfronet.pl">
        <%= image_tag "cyfronet_logo.jpg", :size => "170x80", :style => "float: right;" %>
      </a>
      <a href="http://www.eda.europa.eu">
        <%= image_tag "eda_logo.png", :height => "80" %>
      </a>
    </header>

    <div class="clearall"></div>

    <div class="notice" style="display: none;">
      <%= flash[:notice] if flash[:notice] %>
    </div>
    <%= javascript_tag("$('.notice').show();") if flash[:notice]  %>

    <div class="error" style="display: none;">
      <%= flash[:error] if flash[:error] %>
    </div>
    <%= javascript_tag("$('.error').show();") if flash[:error]  %>

    <%= yield %>
  </div>
</body>
</html>
